.stats-container {
  font-size: 75px;
  padding: 40px;
  text-align: center;
  background-color:  #fff;
}

.counter-boxes {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.counter-box {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  text-align: center;
  width: 200px;
}

.counter-box h3 {
  font-size: 75px;
  margin-bottom: 10px;
}

.counter-box p {
  font-size: 40px;
  font-weight: bold;
  
}
